Package: system-updater
Version: 0.2
Architecture: all
Section: misc
Essential: no
Priority: optional
Maintainer: Faris Redza <faris.redza1999@gmail.com>
Description: An update utility for managed Ubuntu systems.
